.sidebar{
   /* max-width: 250px;*/
    
    color: #f1eded;
}
.sidebar-color{
    
    color: #f1eded;
}
.container{
    height: 100vh;
    background-color: #1f1f1f;
    color: #f1eded;
}
.text{
    color: #f1eded;
    cursor: pointer;
    text-decoration: none;
}