.card{
    margin-left: 40%;
    width: 20%;
    padding: 50px;
    background-color: #1f1f1f;
    color: #f1eded;
}
.title{
    text-align: center;
    padding: 5px;
}
.text{
    color: #f1eded;
}
.button{
    margin-left: 75px;
    background-color: #2980b9;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}